@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body, div, img{ padding: 0; margin: 0; }

.blue  	{ color: #5865db !important; }
.red   	{ color: #d34949 !important; }
.green 	{ color: #73f2ac !important; }
.pink  	{ color: #f50057 !important; }
.white 	{ color: #ffffff !important; }
.l-gray { color: #cdcdcd !important; }
.m-gray { color: #646464 !important; }
.d-gray { color: #2d2d2d !important; }
.black  { color: #000000 !important; }

.bg-blue   { background-color: #5865db !important; }
.bg-red    { background-color: #d34949 !important; }
.bg-green  { background-color: #73f2ac !important; }
.bg-pink   { background-color: #f50057 !important; }
.bg-white  { background-color: #ffffff !important; }
.bg-l-gray { background-color: #ececec !important; }
.bg-m-gray { background-color: #646464 !important; }
.bg-d-gray { background-color: #2d2d2d !important; }
.bg-black  { background-color: #000000 !important; }

.border-blue   { border: 2px solid #5865db !important; }
.border-red    { border: 2px solid #d34949 !important; }
.border-green  { border: 2px solid #73f2ac !important; }
.border-pink   { border: 2px solid #f50057 !important; }
.border-white  { border: 2px solid #ffffff !important; }
.border-l-gray { border: 2px solid #ececec !important; }
.border-m-gray { border: 2px solid #646464 !important; }
.border-d-gray { border: 2px solid #2d2d2d !important; }
.border-black  { border: 2px solid #000000 !important; }

.margin-5  { margin: 5px  !important; }
.margin-10 { margin: 10px !important; }
.margin-15 { margin: 15px !important; }
.margin-20 { margin: 20px !important; }

.margin-v-5  { margin: 5px  0 !important; }
.margin-v-10 { margin: 10px 0 !important; }
.margin-v-15 { margin: 15px 0 !important; }
.margin-v-20 { margin: 20px 0 !important; }

.padding-5  { padding: 5px  !important; }
.padding-10 { padding: 10px !important; }
.padding-15 { padding: 15px !important; }
.padding-20 { padding: 20px !important; }

.padding-v-5  { padding: 5px  0 !important; }
.padding-v-10 { padding: 10px 0 !important; }
.padding-v-15 { padding: 15px 0 !important; }
.padding-v-20 { padding: 20px 0 !important; }


.t-left   { text-align: left; }
.t-center { text-align: center; }
.t-right  { text-align: right; }

.border-r-10 { border-radius: 10px; }
.border-r-15 { border-radius: 15px; }

.h1, .h2, .h3, .h4, .h5, .h6, .p, .button, .nav-list-item{
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
  padding: 7px 0px;
}

.h1 { font-size: 2.25em; font-weight: 700 }
.h2 { font-size: 2em; font-weight: 700 }
.h3 { font-size: 1.75em; font-weight: 400 }
.h4 { font-size: 1.5em; font-weight: 400 }
.h5 { font-size: 1.25em; opacity: 0.6; font-weight: 300 }
.h6 { font-size: 1em; opacity: 0.6; font-weight: 300 }

.p{
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}

.p-big { 
  font-size: 1.3em !important;
  font-weight: 300 !important;
}

.button{
  background-color: none;
  border: 2px solid #000;
  padding: 10px;
  color: #000;
}

.button, .button:focus, .button::-moz-focus-inner{
  -moz-appearance: none;
  outline: 0 !important;
  border: 0;
}

.link { text-decoration: none; }
.link:hover { opacity: 0.7; }

.card{
  background-color: #efefef;
  /*box-shadow: 0px 0px 20px 5px #ccc;*/
  border: 2px solid #e5e5e5;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.cont{
  width: 75%;
  margin: 0 auto;
}

.nav{
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav-text{
  display: inline-block;
}

.nav-list{
  display: inline-block;
  padding: 13px 50px;
  margin: 0px; 
}

.nav-list-item{
  display: inline-block;
  padding: 0px 15px;
}

.hero{
  width: 100%;
  height: 750px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text{

}

.img-array{ width: 100%; margin: 20px auto; }

.img-array-item{
  display: inline-block;
  background-position: center;
  background-size: cover;
  width: 25%;
  margin: -2px;
}

.img-array-item>img{
  width: 100%;
  visibility: hidden;
}

.flex{
  width: 100%;
  display: flex;
  align-items: stretch;
}

.sidebar-nav{
  width: 17%;
  max-width: 17%;
}

.sidebar-nav-inner{
  position: fixed;
  height: 100vh;
  width: 17%;
  max-width: 17%;
  background-color: black;
  color: white;
}

.sidebar-main{
  width: 83%;
  margin: 0 0% 0 0;
}

#carded{
  width: 400px;
  height: 200px;
}

#footer{
  padding: 10px;
}

#home{
  width: 100%;
}

#img-1 { background-image: url(../img/img-1.png); }
#img-2 { background-image: url(../img/img-2.png); }
#img-3 { background-image: url(../img/img-3.png); }
#img-4 { background-image: url(../img/img-4.png); }
#img-5 { background-image: url(../img/img-5.png); }
#img-6 { background-image: url(../img/img-6.png); }
#img-7 { background-image: url(../img/img-7.png); }
#img-8 { background-image: url(../img/img-8.png); }

.main{
  min-height: 150vh;
}